.home {
    .input-group {
        margin-bottom: 15px;

        .searchBar {
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
        }

        .input-group-text {
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
        }

        .input-group-append:hover {
            cursor: pointer;
        }

        .input-group-append {
            button {
                padding: 0;
            }
        }

        #basic-text1 {
            margin-top: -1px;
            margin-left: -1px;
            height: 37px;
        }
    }

    .showingResults {
        margin-left: 5px;
    }

    .noResults {
        text-align: center;
    }



    .caterings {

        // cursor: pointer;

        .catering {
            margin-bottom: 15px;



        }

        .card:hover {
            cursor: pointer;
        }

        .card-body {
            padding: 0.5rem !important;


            .logo {
                padding: 0;
                border-right: 1px solid #ebebeb;

                img {
                    width: 100%;
                    max-height: 80px;
                    height: auto;
                }
            }

            .info {
                button {
                    font-size: 8pt;
                    margin-top: 1px;
                    margin-right: 15px;
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                .AddMenu {
                    top: unset;
                    margin-top: 5px;
                }

                .name {
                    font-weight: bolder;
                }

                .description {
                    font-size: 0.8em !important;
                }

                .graphics {
                    position: absolute;
                    bottom: 0;

                    .row {
                        margin: 0 !important;
                    }

                    .graphic {
                        i {
                            font-size: 1em;
                        }

                        a {
                            font-size: 0.8em;
                            margin-right: 20px;
                        }
                    }

                }
            }

        }


    }
}

.editCatering {
    .custom-control.custom-switch {
        padding-left: 0;
    }

    label.custom-control-label {
        position: relative;
        padding-right: 1.5rem;
    }

    label.custom-control-label::before {
        top: 8px;
        right: -45px;
        left: auto;
    }

    label.custom-control-label::after {
        top: 10px;
        right: -31px;
        left: auto;
    }
}
