.addMenu {
    .hiddenForm {
        display: none;

    }

    h3 {
        margin-top: 15px;
    }

    .card {
        a.btn-primary {
            color: white;
        }

        .btm-btn {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }

        .table-hover>tbody>tr.no-hover:hover {
            background-color: #ffffff;
        }
    }

    .myProducts {
        padding-bottom: 15px;
    }
}

.dayOfTheWeekNav {
    margin-bottom: 1.5rem !important;
}

.displayMenu {
    .product {
        margin-bottom: 15px;
    }


}
